@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "./scss/typography";
@import "./scss/navbar";
@import "./scss/homeTxt";
@import "./scss/processSteps";
@import "./scss/services";
@import "./scss/testimonials";
@import "./scss/about";
@import "./scss/becomeDealer";
@import "./scss/footer";
@import "./scss/carousel";
@import "./scss/faq";
@import "./scss//authForm";
@import "./scss/aboutPage";
@import "./scss/bookingPage";
@import "./scss/bookingStepOne";

html {
  position: relative;
  min-height: 100%;
}

// Additional bootstrap-like classes
.pt-6 {
  padding-top: 6rem !important;
}

.pt-7 {
  padding-top: 6rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.me-6 {
  margin-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.ms-8 {
  margin-left: 8rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.me-8 {
  margin-right: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

// .rounded {
//   box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15) !important;
//   border-radius: 8px !important;
// }

// Keys Background
.fluid-keys-container {
  background-image: url('./images/one-key-wifi-2.png');
  -webkit-background-size: contain; 
  -moz-background-size: contain; 
  -o-background-size: contain; 
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    background-image: url('./images/one-key-wifi-1.png');
    background-position: right top;
    background-repeat: no-repeat;
    -webkit-background-size: auto 550px;
    -moz-background-size: auto 550px; 
    -o-background-size: auto 550px; 
    background-size: auto 550px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 12%;
    z-index: -1;
  }
}

.fluid-lines-s-container {
  background-color: rgba(255, 255, 255, 0.932);
  position: relative;
  &::before {
    background-image: url('./images/curved-lines-right.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }
  &::after {
    background-image: url('./images/curved-lines-left.png');
    background-position: left bottom;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
  }
}
