//Location
.location-bg {
  position: relative;
  .location-form-container {
    width: 445px;
    height: 331px;
    background-color: #2D69B3;
    transform: translateX(-55%);
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    &::after {
      position: absolute;
      background-image: url("../images/location-medium.svg");
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;
      height: 253px;
      width: 173px;
      content: '';
      top: 10%;
      left: -20%;
      z-index: -1;
    }
    @media screen and(max-width: 1200px) {
      transform: translateX(0);
    }
    .location-form-text-container {
      p {
        color: white;
      }
      
    }
    .location-placeholder {
      color: #2d69b3 !important;
      border: 1px solid #2D69B3;
      box-sizing: border-box;
      border-radius: 8px;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #2d69b3 !important;
      }
      &::-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #2d69b3 !important;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #2d69b3 !important;
      }
    }
  }
  &::after {
    position: absolute;
    background-image: url("../images/anna-berdnik-0n0AHB1fgTQ.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 494px;
    width: 100%;
    content: '';
    top: -25%;
    right: 5%;
    z-index: -1;
    @media screen and(max-width: 1200px) {
      right: 0;
    }
    @media screen and(max-width: 576px) {
      display: none;
    }
  }
  &::before {
    position: absolute;
    background-image: url("../images/location-big.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 337px;
    width: 230px;
    content: '';
    top: -7%;
    right: 20%;
    z-index: 0;
    @media screen and(max-width: 576px) {
      display: none;
    }
  }
}

.select-side {
  display: none;
}

.find-my-location {
  color: white;
  a {
    color: inherit;
  }
}

// Delivery Form
.delivery-form {
  margin: 0 auto;
  background-color: #2D69B3;
  height: 331px;
  width: 60%;
  .delivery-form-checkbox {
    color: white;
    font-style: italic;
    font-weight: 300;
    .form-check-input {
      background-color: #2d69b3;
      border: 1px solid white;
      border-radius: 5px;
    }
  }
}

.delivery-info-form {
  width: 40%;
  background-color: #3982DC;
}

.bradius {
  border-radius: 14px;
  width: 90%;
  overflow: hidden;
}

.delivery-info-text {
  color: white;
}

.delivery-input {
  width: 100%;
  background-color: #2D69B3;
  border: 1px solid white;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  color: white;
  &::placeholder {
    color: #DCD9D9;
    font-weight: 300 !important;
  }
  &:focus {
    background-color: #2D69B3;
    outline: 0.1px solid rgba(255, 255, 255, 0.445);
    border-radius: 8px;
    color: white;
    caret-color: white;
  }
}

.delivery-text-area {
  background-color: #3982DC;
  color: white;
  border-radius: 8px;
  &::placeholder {
    padding: 0 0 0 0.5rem;
    color: #DCD9D9;
    font-weight: 300 !important;
  }
  &:focus {
    background-color: #3982DC;
    color: white;
    outline: 0.1px solid rgba(255, 255, 255, 0.445);
    border-radius: 8px;
    caret-color: white;
  }
}

@media screen and(max-width: 1024px) {
  .delivery-form, .delivery-info-form {
    width: 100% !important;
  }
}