.slider-container {
  max-width: 920px;
  margin: 0 auto;
  z-index: 1;
  .slick-prev {
    display: block;
    background-image: url("../images/leftArrow.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    @media screen and(max-width: 1040px) {
      left: 2px;
    }
    @media screen and(max-width: 940px) {
      left: 130px;
    }
    @media screen and(max-width: 582px) {
      left: 25px;
    }
    @media screen and(max-width: 340px) {
      left: 5px;
    }
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  .slick-next {
    display: block;
    background-image: url("../images/rightArrow.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    @media screen and(max-width: 1040px) {
      right: 2px;
    }
    @media screen and(max-width: 940px) {
      right: 130px;
    }
    @media screen and(max-width: 582px) {
      right: 20px;
    }
    @media screen and(max-width: 340px) {
      right: 5px;
    }
    &::before {
      display: none;
    }
  }
}

.partner-link {
  padding: 8px 46px;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
}

.card-element {
  background-image: url("../images/curve-lines-reversed.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.all-partners {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 129%;
  text-align: center;
  text-decoration-line: underline;
  color: #2d69b3;
}

// BOOKING STEP 3 STYLES
.cross-sale-carousel-dots {
  display: flex !important;
  justify-content: center;
  vertical-align: middle;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: 70px;
  text-align: center;
  margin-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    button {
      background: white;
      border: 1px solid #2d69b3;
      color: transparent;
      cursor: pointer;
      display: block;
      width: 13.55px;
      height: 13.55px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radis: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}

.arrow-next {
  display: block;
  background-image: url("../images/rightArrowBookingStep.svg");
  background-repeat: no-repeat;
  background-size: 21px auto;
  background-position: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 38.09px;
  height: 39.09px;
  position: absolute;
  bottom: 0;
  left: 51%;
  margin-bottom: 2rem;
  &:hover {
    cursor: pointer;
  }
  @media screen and(max-width: 1200px) {
    left: 53%;
  }
  @media screen and (max-width: 800px) {
    left: 55%;
  }
}

.arrow-prev {
  display: block;
  background-image: url("../images//leftArrowBookingSteps.svg");
  background-repeat: no-repeat;
  background-size: 21px auto;
  background-position: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 38.09px;
  height: 39.09px;
  position: absolute;
  bottom: 0;
  left: 46%;
  margin-bottom: 2rem;
  &:hover {
    cursor: pointer;
  }
  @media screen and(max-width: 1200px) {
    left: 42%;
  }
  @media screen and (max-width: 800px) {
    left: 38%;
  }
}
