.timeline-line {
  width: 100%;
  height: 4px;
  position: relative;
  background-color: #2d69b3;
  .timeline-cover-line {
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: #36a341;
  }
}

.dots {
  width: 25px;
  height: 25px;
  background-color: #2d69b3;
  border-radius: 50%;
  transform: translateY(-55%);
  transition: 0.6s ease-in-out;
  margin: 0 auto;
  .image-container {
    text-align: center;
    width: 40px;
    height: 30px;
    transform: translate(-8px, -230%);
    img { 
      display: block;
      height: 90%;
      width: auto;
      margin: 0 auto;
    }
  }
}

.progress-symbol {
  fill: #2D69B3;
  transition: 0.3s ease-in-out;
}

.progress-symbol-grey {
  fill: #B2B3B4;
  transition: 0.3s ease-in-out;
}

.dots-grey {
  width: 25px;
  height: 25px;
  background-color: #B2B3B4;
  border-radius: 50%;
  transform: translateY(-55%);
  transition: 0.6s ease-in-out;
  margin: 0 auto;
  .image-container {
    text-align: center;
    width: 40px;
    height: 30px;
    transform: translate(-8px, -230%);
    transition: 0.3s ease-in-out;
    img { 
      display: block;
      height: 90%;
      width: auto;
      margin: 0 auto;
    }
  }
}

.timeline-line-grey {
  width: 100%;
  height: 4px;
  position: relative;
  background-color: #B2B3B4;
  .timeline-cover-line-grey {
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: #36a341;
  }
}

.font-adjust {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  transition: 0.3s ease-in-out;
  @media screen and(max-width: 755px) {
    font-size: 0.7rem;
  }
  @media screen and(max-width: 450px) {
    font-size: 0.5rem;
  }
}

.font-grey { 
  color: #B2B3B4 !important;
}
